<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
	<title><%= title %></title>
</head>

<body>
	<div class="container">
		<!-- Navbar -->
		<%- include("../includes/navbar"); %>
		<% if (messages['error']){ %>
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <strong>Lỗi !</strong> <%= messages['error'] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>

        <% if (messages['success']){ %>
            <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>Thành công !</strong> <%= messages['success'] %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
		<!-- Card: Header and Footer -->
		<div class="card mt-3">
			<div class="card-header"><%= title %> đã bị xoá</div>
			<div class="card-body table-responsive">
				<a href="/admin/user" class="btn btn-primary mb-2">Quay Lại</a>
				<table class="table table-bordered table-hover table-sm mb-0">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th>Họ và tên</th>
							<th>Tên đăng nhập</th>
							<th>Quyền hạn</th>
							<th width="10%">Trạng thái</th>
							<th width="10%">Khôi Phục</th>
						</tr>
					</thead>
					<tbody>
						<% var stt = 1; %>
						<% users.forEach(function(tk){ %>
							<tr>
								<td><%= stt++ %></td>
								<td><%= tk.full_name %></td>
								<td><%= tk.username %></td>
								<td><%= tk.role %></td>
								<td class="text-center">
									<% if(tk.is_locked == false) { %>
										<i class="bi bi-check-circle"></i>
									<% } else { %>
										<i class="bi bi-x-square text-danger"></i>
									<% } %>
								</td>
								<td class="text-center"><a href="/admin/user/restore/<%= tk.id %>" onclick="return confirm('Bạn có muốn khôi phục tài khoản <%= tk.full_name %> không?');"><i class="bi bi-pencil-square"></i></a></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- Footer -->
		<%- include("../includes/footer"); %>
	</div>
	
	<%- include("../includes/javascript"); %>
</body>

</html>